---
import Layout from '../layouts/Layout.astro';
---

<Layout title='ConectaT' description='ConectaT con nosotros, ConectaT con la educación.'>
	<h1>Inicio</h1>
	<div class=''>
		<img src='banner_hombre_diferente.png' alt='' class='w-full h-full' />
	</div>
</Layout>
