---
const enlaces = [
	{ href: '/', texto: 'Inicio' },
	{ href: '/cursos', texto: 'Cursos' },
	{ href: '/contacto', texto: 'Contacto' },
];

import { Image } from 'astro:assets';
import logo from '../../public/logo.png';
---

<header class='mt-4 flex justify-around mb-6'>
	<div class='flex justify-center items-center gap-8'>
		<Image src={logo} alt='' class='w-[100px] aspect-[500/500]' />
		<h1 class='text-4xl bold text-[#ffffff]'>ConectaT</h1>
	</div>
	<nav class='flex justify-center items-center gap-20'>
		{
			enlaces.map((enlace) => {
				return (
					<a href={enlace.href} class='text-[#ffffff] hover:text-blue-700 text-[1.3em]'>
						{enlace.texto}
					</a>
				);
			})
		}
	</nav>
</header>
