---
const enlaces = [
	{ href: '/', texto: 'Inicio' },
	{ href: '/cursos', texto: 'Cursos' },
	{ href: '/contacto', texto: 'Contacto' },
];
---

<header class='mt-4'>
	<nav class='flex justify-center items-center gap-20'>
		{
			enlaces.map((enlace) => {
				return (
					<a href={enlace.href} class='text-blue-500 hover:text-blue-700 text-[1.3em]'>
						{enlace.texto}
					</a>
				);
			})
		}
	</nav>
</header>
