---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'ConectaT con nosotros, ConectaT con la educación.' } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html,
	body {
		font-family: system-ui, sans-serif;
		height: 100%;
	}
</style>
